<!-- <p>
    Form Status: {{ formFilter.value | json }}
</p>
<p>
    resources Status: {{ resources | json}}
</p> -->
<form [formGroup]="formFilter">
    <div [hidden]="!visible" class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Primary Info
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-form-field-input appearance="outline" formControlName="templateName" [type]="'text'" label="Nombre del template" [error]="formFilter.controls['templateName']">
                    </app-form-field-input>
                </div>
                <div class="col-3">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.currencies" formControlName="currencies" label="Moneda" [error]="formFilter.controls['currencies']" display="currencyId" key="currencyId">
                    </app-form-field-select>
                </div>
                <div class="col-3">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.types" formControlName="types" label="Tipo" [error]="formFilter.controls['types']" display="typeId" key="typeId">
                    </app-form-field-select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.events" formControlName="events" label="Events" [error]="formFilter.controls['events']" display="eventId" key="eventId">
                    </app-form-field-select>
                </div>
                <div class="col-4">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.platforms" formControlName="platforms" label="Platforms" [error]="formFilter.controls['platforms']" display="platformId" key="platformId">
                    </app-form-field-select>
                </div>
                <div class="col-4">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.processors" formControlName="processors" label="Processors" [error]="formFilter.controls['processors']" display="processorId" key="processorId">
                    </app-form-field-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="!visible" class="col-1">
            <button (click)="handleHide()" mat-stroked-button color="primary">
					Add Filters
			</button>
        </div>
        <div [hidden]="!visible" class="col-1">
            <button (click)="handleHide()" mat-stroked-button color="warn">
					Close
			</button>
        </div>
        <div *ngIf="visible" class="col-1">
            <button (click)="addFilters()" mat-stroked-button color="primary">
					Apply Filters
			</button>
        </div>
    </div>
</form>
