<!-- <p>
    Form Status: {{ formFilter.value | json }}
</p>
<p>
    resources Status: {{ resources | json}}
</p> -->
<form [formGroup]="formFilter">
    <div [hidden]="!visible" class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Primary Info
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <app-form-field-input appearance="outline" formControlName="code" [type]="'text'" label="Codigo de Promocion" [error]="formFilter.controls['code']">
                    </app-form-field-input>
                </div>
                <div class="col-3">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.currencies" formControlName="currencies" label="Moneda" [error]="formFilter.controls['currencies']" display="currencyId" key="currencyId">
                    </app-form-field-select>
                </div>
                <div class="col-3">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.types" formControlName="types" label="Tipo" [error]="formFilter.controls['types']" display="typeId" key="typeId">
                    </app-form-field-select>
                </div>
                <div class="col-3">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.events" formControlName="events" label="Events" [error]="formFilter.controls['events']" display="eventId" key="eventId">
                    </app-form-field-select>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!visible" class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Time Activity Info
                    </h3>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-2">
                    <app-form-field-select appearance="outline" [options]="resources.operatorsType" formControlName="fromSelector" label="" [error]="formFilter.controls['fromSelector']" display="name" key="operatorId">
                    </app-form-field-select>
                </div> -->
                <div class="col-3">
                    <app-form-field-datepicker (changeValue)="changeDate($event)" appearance="outline" formControlName="from" formControlName="from" inputName="from" [type]="'text'" label="From">
                    </app-form-field-datepicker>
                </div>
                <!-- <div class="col-2">
                    <app-form-field-select appearance="outline" [options]="resources.operatorsType" formControlName="toSelector" label="" [error]="formFilter.controls['toSelector']" display="name" key="operatorId">
                    </app-form-field-select>
                </div> -->
                <div class="col-3">
                    <app-form-field-datepicker (changeValue)="changeDate($event)" appearance="outline" formControlName="to" formControlName="to" inputName="to" [type]="'text'" label="To">
                    </app-form-field-datepicker>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!visible" class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Aditional Restricctions
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <app-form-field-select appearance="outline" [options]="resources.operatorsType" formControlName="ip_redemptionsSelector" label="" [error]="formFilter.controls['ip_redemptionsSelector']" display="name" key="operatorId">
                    </app-form-field-select>
                </div>
                <div class="col-2">
                    <app-form-field-input appearance="outline" formControlName="ip_redemptions" [type]="'text'" label="Ip Redemptions" [error]="formFilter.controls['ip_redemptions']">
                    </app-form-field-input>
                </div>
                <div class="col-2">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.platforms" formControlName="platforms" label="Platforms" [error]="formFilter.controls['platforms']" display="platformId" key="platformId">
                    </app-form-field-select>
                </div>
                <div class="col-2">
                    <app-form-field-select appearance="outline" multiselect="true" [options]="resources.processors" formControlName="processors" label="Processors" [error]="formFilter.controls['processors']" display="processorId" key="processorId">
                    </app-form-field-select>
                </div>
                <div class="col-3">
                    <app-form-field-select appearance="outline" [options]="resources.targetUsers" formControlName="target_users" label="Target Users" [error]="formFilter.controls['target_users']" display="name" key="elementId">
                    </app-form-field-select>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!visible" class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Status Info
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-form-field-select appearance="outline" [options]="resources.active" formControlName="active" label="Active" [error]="formFilter.controls['active']" display="name" key="activeId">
                    </app-form-field-select>
                </div>
                <div class="col-6">
                    <app-form-field-select appearance="outline" [options]="resources.condition" formControlName="condition" label="Conditions" [error]="formFilter.controls['condition']" display="name" key="testingId">
                    </app-form-field-select>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h3>
                            Tags
                        </h3>
                    </div>
                </div>
                <app-form-field-select appearance="outline" [options]="resources.tags" formControlName="tags" label="Add Tags" [error]="formFilter.controls['tags']" display="name" key="tagId" multiselect="true">
                </app-form-field-select>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Tags selection">
                            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                                {{tag}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Select Tags ..." #tagInput [formControl]="tagsCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div *ngIf="!visible" class="col-1">
            <button (click)="handleHide()" mat-stroked-button color="primary">
					Add Filters
			</button>
        </div>
        <div [hidden]="!visible" class="col-1">
            <button (click)="handleHide()" mat-stroked-button color="warn">
					Close
			</button>
        </div>
        <div *ngIf="visible" class="col-1">
            <button (click)="addFilters()" mat-stroked-button color="primary">
					Apply Filters
			</button>
        </div>
    </div>
</form>
