<div class="container">
    <div class="row animate__animated animate__fadeInUp">
        <div class="col-12">
            <form [formGroup]="form">
                <mat-card>
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                Primary Info
                            </h3>
                        </div>
                        <div class="col-3">
                            <app-form-field-input appearance="outline" formControlName="code" [type]="'text'" label="Codigo de Promocion" [error]="form.controls['code']">
                            </app-form-field-input>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.currencies" formControlName="currencyId" label="Monedas" [error]="form.controls['currencyId']" display="namePlural" key="currencyId">
                            </app-form-field-select>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.types" formControlName="typeId" label="Tipo" [error]="form.controls['typeId']" display="name" key="typeId">
                            </app-form-field-select>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.events" multiselect="true" formControlName="events" label="Eventos" [error]="form.controls['events']" mask="AAA" display="name" key="eventId">
                            </app-form-field-select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h3>
                                        Time Activity Info
                                    </h3>
                                </div>
                                <div class="col-6">
                                    <app-form-field-datepicker (changeValue)="changeDate($event)" appearance="outline" formControlName="lifeStart" inputName="lifeStart" [type]="'text'" label="From">
                                    </app-form-field-datepicker>
                                </div>
                                <div class="col-6">
                                    <app-form-field-datepicker (changeValue)="changeDate($event)" appearance="outline" formControlName="lifeEnd" inputName="lifeEnd" [type]="'text'" label="To">
                                    </app-form-field-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <h3>
                                        Purchasing Info
                                    </h3>
                                </div>
                                <div class="col-7 d-flex justify-content-center flex-column">
                                    <mat-slide-toggle formControlName="isThereFinalAmount">Add final amount</mat-slide-toggle>
                                </div>
                                <div class="col-6">
                                    <app-form-field-input appearance="outline" formControlName="amountStart" [type]="'numeric'" label="Monto Inicial*" [error]="form.controls['amountStart']">
                                    </app-form-field-input>
                                </div>
                                <div [hidden]="!form.get('isThereFinalAmount').value" class="col-6">
                                    <app-form-field-input appearance="outline" formControlName="amountEnd" [type]="'numeric'" label="Monto Final*" [error]="form.controls['amountEnd']" mask="separator.2">
                                    </app-form-field-input>
                                    <!-- <app-form-field-conditional-input appearance="outline" formControlName="finalAmount" [type]="'text'" label="Final Amount *" [error]="form.controls['finalAmount']">
                                    </app-form-field-conditional-input> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <h3>
                                        Bonusing Info
                                    </h3>
                                </div>
                                <div class="col-10 d-flex justify-content-center flex-column">
                                    <mat-slide-toggle formControlName="isTherePaymentLimit">add payment limit</mat-slide-toggle>
                                </div>
                                <div class="col-3">
                                    <app-form-field-input appearance="outline" formControlName="bonus" [type]="'text'" label="Bonus *" [error]="form.controls['bonus']" mask="separator.2">
                                    </app-form-field-input>
                                </div>
                                <div class="col-3">
                                    <app-form-field-input [hidden]="!form.get('isTherePaymentLimit').value" appearance="outline" formControlName="paymentLimit" [type]="'text'" label="Payment Limit" [error]="form.controls['paymentLimit']" mask="separator.2">
                                    </app-form-field-input>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <h3>
                                        {{form.get('playthrough').value? "Playthrought Info": "Add Playthrought" }}
                                    </h3>
                                </div>
                                <div class="col-9 d-flex justify-content-center flex-column">
                                    <mat-slide-toggle formControlName="playthrough"></mat-slide-toggle>
                                </div>
                                <div class="col-3">
                                    <app-form-field-input [hidden]="!form.get('playthrough').value" appearance="outline" formControlName="restrictionFactor" [type]="'text'" label="Restriction Factor" [error]="form.controls['restrictionFactor']" mask="separator.2">
                                    </app-form-field-input>
                                </div>
                                <div class="col-3">
                                    <app-form-field-select [hidden]="!form.get('playthrough').value" appearance="outline" [options]="resources.ptApplies" formControlName="appliesTo" label="Applies To" [error]="form.controls['appliesTo']" display="name" key="elementId">
                                    </app-form-field-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                {{ pageType == "new" ? "Registrar " : "Actualizar " }} promotion
                            </h3>
                        </div>
                        <div class="col-3">
                            <app-form-field-input appearance="outline" formControlName="quantityByIp" [type]="'numeric'" label="IP Redemptions" [error]="form.controls['quantityByIp']" mask="separator.2">
                            </app-form-field-input>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.enableUsers" formControlName="enableUsers" label="Target Users" [error]="form.controls['enableUsers']" display="name" key="elementId">
                            </app-form-field-select>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.platforms" multiselect="true" formControlName="platforms" label="Platforms" [error]="form.controls['platforms']" display="name" key="platformId">
                            </app-form-field-select>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.processors" multiselect="true" formControlName="processors" label="Processors" [error]="form.controls['processors']" display="name" key="processorId">
                            </app-form-field-select>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.quantities" formControlName="quantityByUserSelector" label="User Redemptions" [error]="form.controls['quantityByUserSelector']" display="name" key="elementId">
                            </app-form-field-select>
                        </div>
                        <div [hidden]="form.get('quantityByUserSelector').value != -1" class="col-3">
                            <app-form-field-input appearance="outline" formControlName="quantityByUser" [type]="'text'" [error]="form.controls['quantityByUser']" mask="separator.2">
                            </app-form-field-input>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.quantities" formControlName="quantityTotalSelector" label="Total Redemptions" [error]="form.controls['quantityTotal']" display="name" key="elementId">
                            </app-form-field-select>
                        </div>
                        <div [hidden]="form.get('quantityTotalSelector').value != -1" class="col-3">
                            <app-form-field-input appearance="outline" formControlName="quantityTotal" [type]="'text'" label="" [error]="form.controls['quantityTotal']" mask="separator.2">
                            </app-form-field-input>
                        </div>
                        <div class="col-3">
                            <app-form-field-select appearance="outline" [options]="resources.frecuencies" formControlName="frequencySelector" label="Frequency" [error]="form.controls['frequencySelector']" display="name" key="elementId">
                            </app-form-field-select>
                        </div>
                        <div [hidden]="form.get('frequencySelector').value != -1" class="col-3">
                            <app-form-field-input appearance="outline" formControlName="frequency" [type]="'text'" label="" [error]="form.controls['frequency']" mask="separator.2">
                            </app-form-field-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                Description Info
                            </h3>
                        </div>
                        <div class="col-12">
                            <mat-tab-group [selectedIndex]="selectedTabs.value" (selectedIndexChange)="selectedTabs.setValue($event)" formArrayName="information">
                                <mat-tab *ngFor="let tab of resources.langs; let index = index" [label]="resources.langs[index].name" [formGroupName]="index">
                                    <div formControlName="text" [froalaEditor]>Hello, Froala!</div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                        <div class="col-12 pt-3">
                            <app-form-field-textarea appearance="outline" formControlName="description" label="Descripcion" [error]="form.controls['description']">
                            </app-form-field-textarea>
                        </div>
                        <div class="col-12">
                            <mat-form-field class="w-100 example-chip-list">
                                <mat-chip-list #chipList aria-label="Tags selection">
                                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                                        {{tag}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input placeholder="Select Tags ..." #tagInput [formControl]="tagsCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                                        {{tag}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <div class="d-flex buttons-submit">
                                <button (click)="handleCancel()" mat-stroked-button color="warn">
									CANCELAR
								</button>
                                <button (click)="
										pageType == 'new'
											? handleNewItem()
											: handleUpdItem()
									" #submit [disabled]="!form.valid" mat-raised-button color="primary">
									{{ pageType == "new" ? "REGISTRAR" : "ACTUALIZAR" }}
								</button>
                            </div>
                        </div>
                    </div>
                    <p>
                        Form Status: {{ form.value | json }}
                    </p>
                </mat-card>
            </form>
        </div>
    </div>
</div>
