<div class="container">
	<div class="row ">
		<div class="col-12">
			<form [formGroup]="form">
				<mat-card>
					<div class="row">
						<div class="col-12">
							<h3>
								{{
									pageType == "new"
										? "Registrar "
										: "Actualizar "
								}}
								Traduccion de la Moneda
							</h3>
						</div>

						<app-form-field-select
							class="col-12"
							appearance="outline"
							formControlName="langId"
							label="Lenguaje"
							[options]="languages"
							[display]="'name'"
							[key]="'langId'"
							[error]="form.controls['langId']"
						></app-form-field-select>

						<app-form-field-select
							class="col-12"
							appearance="outline"
							formControlName="currencyId"
							label="Moneda"
							[options]="currencies"
							[display]="'nameSingular'"
							[key]="'currencyId'"
							[error]="form.controls['currencyId']"
						></app-form-field-select>

						<div class="col-12">
							<app-form-field-input
								appearance="outline"
								formControlName="nameSingular"
								[type]="'text'"
								label="Nombre singular *"
								[error]="form.controls['nameSingular']"
							>
							</app-form-field-input>
						</div>

						<div class="col-12">
							<app-form-field-input
								appearance="outline"
								formControlName="namePlural"
								[type]="'text'"
								label="Nombre plural *"
								[error]="form.controls['namePlural']"
							>
							</app-form-field-input>
						</div>

						<div class="col-12">
							<div class="d-flex buttons-submit">
								<button
									(click)="dialogRef.close(false)"
									mat-stroked-button
									color="warn"
								>
									CANCELAR
								</button>
								<button
									(click)="
										pageType == 'new'
											? handleNewItem()
											: handleUpdItem()
									"
									#submit
									[disabled]="!form.valid"
									mat-raised-button
									color="primary"
								>
									{{
										pageType == "new"
											? "REGISTRAR"
											: "ACTUALIZAR"
									}}
								</button>
							</div>
						</div>
					</div>
				</mat-card>
			</form>
		</div>
	</div>
</div>
