<app-main-layout #mainLayout (sideNavOpenedChange)="sideNavOpenedChange($event)">
    <!-- sidenav -->
    <ng-container main__layout__sidenav>
        <!-- custom side nav structure -->
        <app-side-nav-layout #sideNav (sideNavExpanded)="menuGroupListOpenedChange($event)">
            <!-- logo -->
            <ng-container sidenav__logo>
                <mat-toolbar class="">
                    <a mat-icon-button>
                    </a>
                    <span class="sidenav__logo__name" name *ngIf="menuGroupListOpened">
						CoinGecko - 2.0
					</span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </ng-container>

            <!-- groups -->
            <mat-nav-list sidenav__groups__items>
                <app-side-nav-menu-group-list [menuGroupListOpened]="menuGroupListOpened" [menuGroups]="menuGroups"></app-side-nav-menu-group-list>
            </mat-nav-list>

            <!-- links -->
            <ng-container sidenav__links__items>
            </ng-container>

            <!-- menu sidenav toogle -->
            <ng-container sidenav__toggle>
                <app-side-nav-toggle [menuGroupListOpened]="menuGroupListOpened"></app-side-nav-toggle>
            </ng-container>
        </app-side-nav-layout>
    </ng-container>

    <!-- content -->
    <ng-container main__layout__content>
        <!-- custom content structure -->
        <app-content-layout>
            <!-- toolbar -->
            <ng-container content__layout__toolbar>
                <app-toolbar-layout [sideNavOpened]="sideNavOpened" (clickSideNavToggle)="mainLayout.toogleSideNav()">
                    <ng-container toolbarlayout__logo>
                        <a mat-icon-button>
                            <!-- <app-logo></app-logo> -->
                        </a>
                    </ng-container>
                    <ng-container toolbarlayout__left>

                    </ng-container>
                    <ng-container toolbarlayout__right>

                    </ng-container>
                </app-toolbar-layout>
            </ng-container>

            <!-- content -->
            <ng-container content__layout__content>
                <!-- <app-router-main-content></app-router-main-content> -->
                <app-router-outlet-main></app-router-outlet-main>
            </ng-container>
        </app-content-layout>
    </ng-container>
</app-main-layout>
